* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@font-face {
    font-family: 'Poppins';
    src: url("../fonts/Poppins-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url("../fonts/Poppins-Black.ttf");
}

@font-face {
    font-family: 'Poppins';
    src: url("../fonts/Poppins-Light.ttf");
}

:root {
    --Amarillo: #EFBC0C;
    --Verde: #2C8221;
    --Azul: #0A4E92;
    --Negro: #000000;
    --Gris-oscuro: #808080;
    --Gris-claro: #EFEFEF;
    --Blanco: #FFFFFF;
}


/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* ------------------------------GRUPO 1 CSS--------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */


#GRP1-root {
    width:100vw;
    height:100vh; 
    background-color: var(--Gris-claro);
    overflow: hidden;
}

#GRP1-header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: left;
    background-color: var(--Blanco);
    box-shadow: 0px 1px 5px var(--Gris-oscuro);
    
}

#GRP1-nav-bar {
    display: flex;
    width: 100%;
    justify-content: left;
    align-items: center;
} 

#GRP1-nav-bar img {
    margin-left: 20px;
}

#GRP1-nav-bar h2 {
    margin-left: 40px;
    color: var(--Negro);
}

#GRP1-main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.GRP1-contenedor-foto {
    width:60%;
    height: 90%;
    background-image: url("../img/LogoCIFP.gif");
    background-size: cover;
    background-position: center;
}

.GRP1-contenedor-formulario {
    width: 50%;
    max-height: 80%;
    margin: 1%;
    padding: 2%;
    display:flex; 
    align-items:center; 
    flex-direction:column;
    background-color:var(--Blanco);
}

#GRP1-logoCIFP {
    max-width: 100px;
    max-height: 100px;
}

.GRP1-titles {
    margin-bottom: 2%;
    font-size: 35px;
    font-weight: bolder;
}

#GRP1-formulario-login {
    font-weight: bold;
    margin-top: 10%;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 18px;
    text-align: center;
}

.GRP1-input {
    max-width: 100%;
    margin: 1%;
    text-align: center;
    font-weight: 500;
    font-size: 12pt;
    padding: 1%;
}

.GRP1-texto {
    border-left: hidden;
    border-right: hidden;
    transition: 0.6s;
}

.GRP1-texto:hover {
    background-color: var(--Gris-claro);
    cursor: pointer; 
}

.GRP1-input-botones {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background-color: var(--Azul);
    color: var(--Blanco);
    font-size: 20px;
}

.GRP1-box-passwordd {
    margin-bottom: 2%;
    padding: 1%;
}

.GRP1-input-botones:hover {
    background-color: var(--Gris-oscuro);
    cursor: pointer;
}

.GRP1-formulario-login hr {
    margin-bottom: 35px;
    display: block;
    border-style: solid;
    border-width: 1px;
    color: var(--Negro);
    width: 100%;
}

#GRP1-footer {
    position: absolute;
    text-align: center;
    box-shadow: 0px 1px 7px var(--Gris-oscuro);
    width: 100%;
    height: 6%;
    background-color: var(--Blanco);
    bottom: 0%;
}

#GRP1-footer p {
    font-size: 20px;
    font-weight: 700;
    padding: 1%;
}

@media screen and (max-width:850px) {

    #GRP1-main {
        flex-direction: row;
    }

    #GRP1-formulario-login {
        margin: 0;
    }

    .GRP1-titles {
        margin: 0;
    }

    .GRP1-contenedor-foto {
        width: 100%;
        position: relative;
        z-index: 0;
        background-image: url("../img/version_5.gif");
        background-size: cover;
        background-position: center;
    }

    .GRP1-contenedor-formulario {
        width: 90%;
        margin: 5%;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: absolute;
        z-index: 1;
        background-color: rgba(72, 72, 72, 0.533);
    }
}

/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* ------------------------------GRUPO 4 CSS--------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

#GRP4-header {
    width:  100%;
    background-color: white;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

#GRP4-header img {
    height: 70px;
    width: 70px;
}

#GRP4-header h1 {
    display: inline;
    font-size: 30px;
}

#GRP4-root {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    background-image: url("/img/LogoCIFP.gif");
    background-size: cover;
    background-position: cover;
}

#GRP4-main {
    background-color: #efefef84;
    width: 100%;
    height: 100%;
}

#GRP4-box-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.GRP4-section {
    width: 50%;
    height: 100%;
    padding: 1%;
}

#GRP4-section1 {
    width: 100%;
    max-height: 50%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
}

#GRP4-formulario-signIn {
    width: 50%;
    height: 100%;
}

.GRP4-articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}

#GRP4-articleName {
    grid-column: 1/2;
    grid-row: 1/2;
}

#GRP4-articleDate {
    grid-column: 1/2;
    grid-row: 2/3;
}

#GRP4-articleUser {
    grid-column: 2/3;
    grid-row: 1/2;
}

#GRP4-articleHome {
    grid-column: 2/3;
    grid-row: 2/3;
}

#GRP4-section2 {
    height: 100%;
    overflow: scroll;
    padding: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#GRP4-section2 input[type="text"],#GRP4-section2 input[type="date"],#GRP4-section2 input[type="number"],#GRP4-section2  select {
    width: 100px;
}

#GRP4-experiencie {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 0;
}

#GRP4-education {
    grid-column: 1/2;
    grid-row: 2/3;
}

#GRP4-idioms {
    grid-column: 3/4;
    grid-row: 1/2;
}

#GRP4-aboutMe {
    grid-column: 3/4;
    grid-row: 2/3;
}

.GRP4-titles {
    font-size: 40pt;
    margin-bottom: 10px;
    margin-top: 10px;
}

.GRP4-subtitle {
    text-decoration: underline;
    width: 350px;
    height: 50px;
    margin: 1%;
}

#GRP4-label {
    font-weight: bolder;
}

.GRP4-inputs {
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.GRP4-inputNumber {
    width: 150px;
}

#direccion {
    width: 400px;
}

.GRP4-botones {
    display: flex;
    align-items: center;
}

.GRP4-button {
    margin: 3%;
}

.GRP4-agregarOpcion, .GRP4-quitarOpcion {
    width: 45px;
    height: 45px;
    border-radius: 30%;
    border: none;
    color: white;
    font-size: 15pt;
    font-weight: bold;
    cursor: pointer;
}

.GRP4-agregarOpcion {
    cursor: pointer;
    background-color: #2C8221;
}

.GRP4-agregarOpcion:hover {
    transition: all 0.3s;
    background-color: #2c822178;
}

.GRP4-quitarOpcion {
    cursor: pointer;
    background-color: #DC3545;
}

.GRP4-quitarOpcion:hover {
    transition: all 0.3s;
    background-color: #fc00197b;
}

.GRP4-box-enviar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.GRP4-sent {
    width: 100px;
    padding: 1%;
    cursor: pointer;
}

.GRP4-sent:hover {
    transition: all 0.4s;
    background-color: #f97008d6;
}